################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectOne/project-colors.json
/.vs/slnx.sqlite
/.vs
